<%= form_with(model: report) do |form| %>
  <%= render 'shared/validation_errors', resource: report %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title , required: true %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content , required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
