<div id="<%= dom_id report %>">
  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <% if report.user.name.present? %>
      <%= link_to report.user.name, user_path(report.user) %>
    <% else %>
      <%= link_to report.user.email, user_path(report.user) %>
    <% end %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %></strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %></strong>
    <%= report.content %>
  </p>

  <p>
  <%= l report.created_at, format: :post_time %>
  </p>

</div>
