<div id="<%= dom_id report %>">
  <p>
    <strong><%= User.human_attribute_name(:name) %>:</strong>
    <%= link_to report.user.display_name_priority, user_path(report.user) %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %></strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %></strong>
    <%= report.content %>
  </p>

  <p>
    <%= l report.created_at, format: :post_time %>
  </p>
</div>
